<h1>Pizza Menu</h1>

<!-- <div id="container"> 
    <div *ngFor="let eachItem of menu" >
        <mat-card id="card">
            <mat-card-content>
                <img src="{{eachItem.imageURLs}}" class="image" width="280px" height="180px"/> <br/>
                <div class="title">
                    {{eachItem.itemName}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{eachItem.category}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>&#8377;</span>{{eachItem.price}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->
